.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a {
    color: #aaafb7;
    border-bottom: 1px solid #d6d6d6!important;
}

.dataTables_filter {
    float: right;
}

@media (min-width: 992px) {
	.page-content-wrapper .page-content {
	    margin-left: 0px;
	}
}