﻿.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em 0em;
}

.chartZoom {
  position: relative;
}

.chartZoom .chartZoom-container {
  height: 260px;
}

.chartZoom .chartZoom-btn {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(238, 125, 48, 0.7);
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  color: #FFF;
}

.chartZoom .chartZoom-btn:hover {
  opacity: 1;
}

.chartZoom .chartZoom-btn:hover .btn-icon {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.chartZoom .chartZoom-btn .btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  font-size: 2em;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
      -ms-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.calendar-form {
  width: 100%;
  border-left: 1px solid #e6e6e6;
  background: #FFF; }
  .calendar-form .cal-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid #e6e6e6; }
  .calendar-form .cal-row:not(.cal-row-head) {
    height: 80px; }
  .calendar-form .cal-row-head .cal-cell {
    padding: 8px 12px;
    text-align: center;
    font-weight: 700;
    border-top: 1px solid #e6e6e6;
    height: auto; }
  .calendar-form .cal-cell {
    display: table-cell;
    height: 80px;
    position: relative;
    border-right: 1px solid #e6e6e6; }
  .calendar-form .day-label {
    display: block;
    margin: 0;
    text-align: right;
    padding: 0 12px;
    height: 80px;
    line-height: 40px;
    cursor: pointer; }
  .calendar-form .day-input {
    width: 100%;
    padding: 0 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: transparent; }
  .calendar-form .day-input:focus {
    outline: none; }
  .calendar-form .day-input:focus ~ .day-label {
    color: #034f98;
    background: #cfe7fe; }
  .calendar-form .cell-inmonth:hover {
    background: #e8f3ff; }
  .calendar-form .cell-outmonth {
    color: #cccccc; }
  .calendar-form .cell-inmonth .day-label {
    font-weight: 700;
    color: #4d4d4d; }
  .calendar-form .day-checker {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 90px;
    font-size: 22px;
    color: #e6e6e6; }
  .calendar-form .day-input-check {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer; }
  .calendar-form .day-input-check:checked ~ .day-checker {
    color: #034f98;
    text-shadow: 0 1px 3px #FFF;
    font-size: 28px; }
  .calendar-form .day-input-check:checked ~ .day-label {
    background: #cfe7fe; }
  .calendar-form .calendar-nav {
    position: relative;
    padding: 8px 42px;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6; }
  .calendar-form .btn-prev,
  .calendar-form .btn-next {
    position: absolute;
    top: 50%;
    margin-top: -17px; }
  .calendar-form .btn-prev {
    left: 8px; }
  .calendar-form .btn-next {
    right: 8px; }
  .calendar-form .cal-month-title {
    height: 34px;
    line-height: 34px; }
